* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 13px;
  font-weight: 400px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  height: 3000px;
  
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.btn { 
  display: block; /*a, span같은 인라인 요소를 버튼으로 사용 할 수 있으니 미리 블럭으로 지정 */
  width: 130px;
  padding: 10px;
  border:1px solid #333;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  transition: .4s;
}

.btn:hover {
  background-color: #333;
  color: #fff;
}
.btn.btn--darkblue {
  color: #fff;
  background-color: #243C84;
  border-color: #120f62;
}
.btn.btn--darkblue:hover {
  color: #fff;
  background-color: #090731;
}
.btn.btn--reverse {
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse:hover {
  background-color: transparent;
  color: #333;
}
.btn.btn--gold {
  color: #d9aa8a;
  border-color: #d9aa8a;
}
.btn.btn--gold:hover {
  color: #fff;
  background-color: #d9aa8a;
}
.btn.btn--white {
  color: #fff;
  border-color: #fff;
}
.btn.btn--white:hover {
  color: #333;
  background-color: #fff;
}







header {
  background-color: #fff;
  width:100%;
  border-bottom:1px solid #888;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, .15);
  position: fixed;
  z-index: 2;
}

.inner {
  position: relative;
  width: 1100px;
  margin:0 auto;
}

header > .inner {
  height: 150px;
}

header .sns {
 position: absolute;
 /* background-color: #243C84; */
 padding:5px 10px;
 left:0;
 
}

header .inner .sns ul {
  display: flex;
}

header .inner .sns li a img { 
  width: 23px;
  height: 23px;
  margin-right: 7px;}

header .topmenu  {
  display: flex;
  position: absolute;
  top: 5px;
  right:20px;
}

header .topmenu ul.topmenu__list {
  display: flex;
}


header .topmenu ul.topmenu__list li {
  position: relative;
}

header .topmenu ul.topmenu__list li::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 13px;
  background-color: #8aa0e5;
  display: block;
  top: 0;
  bottom: 0;
  margin: auto;
}

header .topmenu ul.topmenu__list li:first-child::before  {
  display: none;
}

header .topmenu ul.topmenu__list li a {
  display: block;
  padding: 5px 15px;
  font-size: 13px;
  color: #666;
  font-weight: bold;
}

header .topmenu ul.topmenu__list li a:hover {
  color:#243C84
}

header .topmenu .search {
  position: relative;
  height:28px;  
  /* background-color: #333; */
}

header .topmenu .search input {
  width: 36px;
  box-sizing: border-box;
  outline: none;
  height: 28px;
  background-color: #243C84;
  border-radius: 5px;
  color:#fff;
  transition:width .4s;

}

header .topmenu .search input::placeholder {
  color:#e2e2e2;
  
}

header .topmenu .search input:focus {
  width: 190px;
  color:#e2e2e2;
  padding-left:10px;
}


header .topmenu .search .material-icons {
  position: absolute;
  top:0;
  bottom: 0;
  right:0;
  color:#fff;
  height: 24px;
  margin: auto 0;
  transition: .4s;
}

header h1  {
  /* position: relative; */
  padding-top: 55px;
  padding-bottom:30px;
  width:100%;
}
header h1 img {
  display: block;
  margin: 0 auto;

}

header .mainmenu {
  display: flex;
  justify-content: center;
  width:100%;
  bottom: 0;
  position: absolute;
  right: 0;
  z-index: 1;
  margin: 0 auto;
}

header .mainmenu .item a.item__name {
  display: block;
  padding: 10px 30px;
  font-weight: bold;
  color:#243C84;
  font-size: 15px;
  
}

header .mainmenu .item:hover a.item__name {
  color: #fff;
  border-radius: 3px 3px 0 0;
  background-color: #243C84;
}

header .mainmenu .item .item__contents {
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
}

header .mainmenu .item:hover .item__contents{
  display:block;
}

header .mainmenu .item .item__contents .contents__menu {
  position: relative;
}


header .mainmenu .item .item__contents .contents__menu > ul.inner {
  box-sizing: border-box;
  width: 883px;
  padding:20px 20px;
  background-color: #243C84;
  border-radius: 0 0 10px 10px;
  z-index: 1;
}

/* 2번째 소메뉴 열리는 얘들 */
header .mainmenu .item .item__contents .contents__menu > ul.menu_1 li {
  margin-left: 0px;
}
header .mainmenu .item .item__contents .contents__menu > ul.menu_2 li {
  margin-left: 100px;
}
header .mainmenu .item .item__contents .contents__menu > ul.menu_3 li {
  margin-left: 190px;
}

header .mainmenu .item .item__contents .contents__menu > ul.menu_4 li {
  margin-left: 310px;
}

header .mainmenu .item .item__contents .contents__menu > ul.menu_5 li {
  margin-left: 465px;
}

header .mainmenu .item .item__contents .contents__menu > ul.menu_6 li {
  margin-left: 635px;
}
header .mainmenu .item .item__contents .contents__menu > ul.menu_7 li {
  margin-left: 620px;
  text-align: right;

}


header .mainmenu .item .item__contents .contents__menu > ul.menu_1 {
  padding-left: 20px;
}

header .mainmenu .item .item__contents .contents__menu > ul > li {
  width: 220px;
  font-size: 13px;
  height: 35px;
  font-weight: 400;
  color:#e2e2e2;

}
header .mainmenu .item .item__contents .contents__menu > ul > li:hover {
  color:#fff;
  cursor: pointer;
}

header .badges {
  position: absolute;
  width:120px;
  top:200px;
  right: 20px;
  height: 200px;
  overflow: hidden;
  border-radius: 5px;
}

header .badges a img {
  width:120px;
  height: 200px;
}
/* visual */
.visual {
  position: relative;
  box-sizing: border-box;
  padding-top:150px ;
  background-image: url('../images/visual_imgbg.jpg');
  height:620px;
  background-position: center;
  
}
.visual > .inner {
  height:490px;
}

.visual .title {
  position: absolute;
  top: 90px;
  left: 100px;
  
}
.visual .title img {
  width: 300px;
}

.visual .title .btn {
  position: absolute;
  top: 150px;
  left: 80px;
}

.cup1.image {
  position: absolute;
  width: 210px;
  bottom: -10px;
  right: -10px;
}
.visual .cup1.text {
  position: absolute;
  top: 38px;
  right: 171px;
}

.visual .cup2.image {
  position: absolute;
  width: 200px;
  bottom: 0;
  right: 152px;
}

.visual .cup2.text {
  position: absolute;
  top: 120px;
  right: 310px;
}

.visual .spoon {
  position: absolute;
  bottom: 0;
  left: 345px;
}

.visual .fade-in {
  opacity: 0;
}


/* notice */
.notice {
  position: relative;
}


.notice .bg-left {
  position: absolute;
  width:50%;
  height: 100%;
  background-color: #090731;
  top:0;
  left:0;

}

.notice .bg-right {
  position: absolute;
  width:50%;
  height: 100%;
  background-color: #f6f5ef;
  top:0;
  right:0;
}

.notice .inner {
  height: 62px;
  display: flex;
}

.notice .inner__left h2 {
  color:#fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
  align-items: center;
}
.notice .inner__left {
  width: 70%;
  display: flex;
  align-items: center;
  background-color: #090731;
}

.notice .inner__left .swiper {
  height: 62px;
  flex-grow:1;
}

.notice .inner__left .swiper .swiper-slide {
  display: flex;
  align-items: center;
  height: 62px;
}
.notice .inner__left .swiper .swiper-slide a {
  color: #fff;
}

.notice .inner__left a {
  color: #fff;
}

.notice .inner__left .notice-more {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.notice .inner__left .notice-more .material-icons {
  color:#fff;
  font-size: 30px;
}

.notice .inner__right {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.notice .inner__right h2 {
  font-size: 17px;
  font-weight: 700;
}


.notice .inner__right .toggle-promotion {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.notice .inner__right .toggle-promotion .material-icons {
  font-size: 30px;
}


/* promotion */
.promotion {
  position: relative;
  height: 400px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: #f6f5ef;
} 

.promotion.hide {
  height:0;
} 

.promotion .swiper {
  /* width: calc(700 * 3 + 10 * 2); */
  width:2120px;
  flex-shrink: 0;
}

.promotion .swiper-slide {
  position: relative;
  opacity: 0.5;
  transition: opacity 1s;
  
}

.promotion .swiper-slide-active {
  opacity: 1;
}

.promotion .swiper-slide .btn {
  position: absolute;
  bottom: 35px;
  left: 0;
  right: 0;
  margin: auto;
}

.promotion .swiper-pagination {
  position: absolute;
  bottom:0;
  z-index: 1;
}

.promotion .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fff;
}


.promotion .swiper-button-prev,
.promotion .swiper-button-next {
  position: absolute;
  width: 42px;
  height:42px;
  border: 1px soild #ccc;
  border-radius: 50%;
  background-color: #120f62;
  color:#e2e2e2;
  z-index: 1;
}

.promotion .swiper-button-prev:hover,
.promotion .swiper-button-next:hover {
  border: 1px soild #fff;
  background-color: #333;
  color:#fff;

}

.promotion .swiper-button-prev {
  left:50%;
  margin-left:-420px;
}
.promotion .swiper-button-next {
  right:50%;
  margin-right:-420px;
}

.promotion .swiper-button-prev::after,
.promotion .swiper-button-next::after {
  display: none; 
}


/* dream_factory */
.dream_factory {
  box-sizing: border-box;
  width:100%;
  background: url("../images/dream_factory_bg.gif") repeat-y #07529f ;
  /* background-color: #243C84; */
  margin: 0 auto;
  height:350px;
  
}

.dream_factory h2 {
  font-family: Helvetica, sans-serif;
  font-weight: 800;
  font-size: 25px;
  color:#fff;
  padding-top: 50px;
  

}

.dream_factory p {
  padding-top: 30px;
  font-size: 15px;
  color:#fff;
}

.dream_factory > .inner {
  position: relative;
  height:350px;
  overflow: hidden;
}

.dream_factory__btn  { 
  display: flex;
  padding-top: 40px;
}

.dream_factory__btn a {
  margin-right: 10px;
}

.image_dreamfactory img {
position: absolute;
right:-130px;
bottom:0;
}


/* youtube */
.youtube {
  margin-top: 1px;
  position: relative;
  height: 400px;
  background-color: #090731;
  position: relative;
  }


.youtube .youtube__area {
  /* 유튜브 표준영상비율 16:9  */
  width: 860px;
  height: 400PX;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: calc(860px / -2);
  margin-top: calc(400px / -2); 
}

#player {
  width:100%;
  height: 100%;
  }

  .youtube__cover {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    background-image: url("../images/video_cover_pattern.png");

  }