* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 13px;
  font-weight: 400px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  height: 3000px;
  background-color: #f3f3f3;
}

a {
  text-decoration: none;
}

img {
  display: block;
}


header {
  background-color: #fff;
  width:100%;
  border-bottom:1px solid #888;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, .15);
  position: fixed;
}

.inner {
  position: relative;
  /* width: 1100px; */
  margin:0 auto;
  

}

header > .inner {
  height: 150px;
}

header .topmenu  {
  display: flex;
  position: absolute;
  top: 5px;
  right:20px;
  color:#333;
}

header .topmenu ul.topmenu__list {
  display: flex;
}


header .topmenu ul.topmenu__list li {
  position: relative;
}

header .topmenu ul.topmenu__list li::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 13px;
  background-color: #8aa0e5;
  display: block;
  top: 0;
  bottom: 0;
  margin: auto;
}

header .topmenu ul.topmenu__list li:first-child::before  {
  display: none;
}

header .topmenu ul.topmenu__list li a {
  display: block;
  padding: 5px 15px;
  font-size: 13px;
  color: #666;
  font-weight: bold;
}

header .topmenu ul.topmenu__list li a:hover {
  color:#243C84
}

header .topmenu .search {
  position: relative;
  height:28px;  
  /* background-color: #333; */
}

header .topmenu .search input {
  width: 36px;
  box-sizing: border-box;
  outline: none;
  height: 28px;
  background-color: #243C84;
  border-radius: 5px;
  color:#fff;
  transition:width .4s;

}

header .topmenu .search input::placeholder {
  color:#e2e2e2;
  
}

header .topmenu .search input:focus {
  width: 190px;
  color:#e2e2e2;
  padding-left:10px;
}


header .topmenu .search .material-icons {
  position: absolute;
  top:0;
  bottom: 0;
  right:0;
  color:#fff;
  height: 24px;
  margin: auto 0;
  transition: .4s;
}

header h1  {
  /* position: relative; */
  padding-top: 55px;
  padding-bottom:30px;
  width:100%;
}
header h1 img {
  display: block;
  margin: 0 auto;

}

header .mainmenu {
  display: flex;
  justify-content: center;
  width:100%;
  bottom: 0;
  position: absolute;
  right: 0;
  z-index: 1;
  margin: 0 auto;
  position: absolute;
}

header .mainmenu .item a.item__name {
  display: block;
  padding: 10px 30px;
  font-weight: bold;
  color:#243C84;
  font-size: 15px;
  
}

header .mainmenu .item a.item__name:hover {
  color: #fff;
  border-radius: 3px 3px 0 0;
  background-color: #243C84;
  
}

header .mainmenu .item .item__contents {
  width: 100%;
  position: fixed;
  left:0;
  display: none;
}

header .mainmenu .item:hover .item__contents{
  display:block;
}

header .mainmenu .item .item__contents .contents__menu {
  position: relative;
}

header .mainmenu .item .item__contents .contents__menu > ul.inner {
  box-sizing: border-box;
  width: 883px;
  padding:20px 30px;
  background-color: #243C84;
  border-radius: 0 0 10px 10px;
}

header .mainmenu .item .item__contents .contents__menu > ul > li {
  width: 220px;
  font-size: 13px;
  height: 35px;
  font-weight: 400;
  color:#e2e2e2;

}
header .mainmenu .item .item__contents .contents__menu > ul > li:hover {
  color:#fff;
  cursor: pointer;
}